<h1>Parts</h1>
<ul>
  {{#each parts}}
  <li>
    <p>Part Number: {{part_number}}</p>
    <p>Part Name: {{part_name}}</p>
    <p>Description: {{description}}</p>
    <p>Quantity: {{quantity}}</p>
    <p>Product ID: {{product_id}}</p>
  </li>
  {{/each}}
</ul>