
<form id="part-form">
    <label for="part-number">Part Number:</label>
    <input type="text" id="part-number" name ="part-number">
    <label for="part-name">Part Name:</label>
    <input type="text" id="part-name" name ="part-name">
    <label for="description">Description:</label>
    <input type="text" id="description" name ="description">
    <label for="quantity">Quantity:</label>
    <input type="text" id="quantity" name ="quantity"><br>

    <button class="part-add-btn">Add</button>
    
</form>

{{!-- <div style="overflow-y:auto;"> --}}
<table>
    <col style="width:8%">
    <col style="width:17%">
    <col style="width:20%">
    <col style="width:40%">
    <col style="width:15%">
    <th></th>
    <th>Part Number</th>
    <th>Part Name</th>
    <th>Description</th>
    <th>Quantity</th>
    {{#each parts}}
    <tr class="part" data-partNum ={{part-number}} data-partName={{part-name}} data-description={{description}} data-quantity={{quantity}}>
        <td class = "part-action"><i class="far fa-edit"></i> <i class="far fa-save"></i> <i class="far fa-trash-alt"></i></td>
        <td>{{part_number}}</td>
        <td>{{part_name}}</td>
        <td class = "desc">{{description}}</td>
        <td class = "quantity">{{quantity}}</td>
        
    </tr>
    {{/each}}
</table>
{{!-- </div> --}}

